Package: lol.mattso.ShitOS
Name: ShitOS
Depends: mobilesubstrate, com.spark.snowboard
Architecture: iphoneos-arm
Description: The greatest iOS theme, remastered.
Maintainer: Mattso
Author: Mattso/Edog813
Section: Themes
Version: 2.0.1
