Package: com.mattso.shitos
Name: ShitOS
Depends: mobilesubstrate, com.spark.snowboard |  com.anemonetheming.anemone
Architecture: iphoneos-arm
Description: The greatest iOS theme, remastered.
Maintainer: edog813#9023/Mattso#7817
Author: Edog813/Mattso
Section: Themes
Version: 2.0.0
